<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xpadro.tutorial.rest.repository.CustomerMapper">
  <resultMap id="BaseResultMap" type="xpadro.tutorial.rest.model.mybatis.Customer">
    <id column="C_CUSTKEY" jdbcType="INTEGER" property="c_CUSTKEY" />
    <result column="C_NAME" jdbcType="VARCHAR" property="c_NAME" />
    <result column="C_ADDRESS" jdbcType="VARCHAR" property="c_ADDRESS" />
    <result column="C_NATIONKEY" jdbcType="INTEGER" property="c_NATIONKEY" />
    <result column="C_PHONE" jdbcType="CHAR" property="c_PHONE" />
    <result column="C_ACCTBAL" jdbcType="DOUBLE" property="c_ACCTBAL" />
    <result column="C_MKTSEGMENT" jdbcType="CHAR" property="c_MKTSEGMENT" />
    <result column="C_COMMENT" jdbcType="VARCHAR" property="c_COMMENT" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    C_CUSTKEY, C_NAME, C_ADDRESS, C_NATIONKEY, C_PHONE, C_ACCTBAL, C_MKTSEGMENT, C_COMMENT
  </sql>
  <select id="selectByExample" parameterType="xpadro.tutorial.rest.model.mybatis.CustomerExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from customer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from customer
    where C_CUSTKEY = #{c_CUSTKEY,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from customer
    where C_CUSTKEY = #{c_CUSTKEY,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="xpadro.tutorial.rest.model.mybatis.CustomerExample">
    delete from customer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="xpadro.tutorial.rest.model.mybatis.Customer">
    insert into customer (C_CUSTKEY, C_NAME, C_ADDRESS, 
      C_NATIONKEY, C_PHONE, C_ACCTBAL, 
      C_MKTSEGMENT, C_COMMENT)
    values (#{c_CUSTKEY,jdbcType=INTEGER}, #{c_NAME,jdbcType=VARCHAR}, #{c_ADDRESS,jdbcType=VARCHAR}, 
      #{c_NATIONKEY,jdbcType=INTEGER}, #{c_PHONE,jdbcType=CHAR}, #{c_ACCTBAL,jdbcType=DOUBLE}, 
      #{c_MKTSEGMENT,jdbcType=CHAR}, #{c_COMMENT,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="xpadro.tutorial.rest.model.mybatis.Customer">
    insert into customer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="c_CUSTKEY != null">
        C_CUSTKEY,
      </if>
      <if test="c_NAME != null">
        C_NAME,
      </if>
      <if test="c_ADDRESS != null">
        C_ADDRESS,
      </if>
      <if test="c_NATIONKEY != null">
        C_NATIONKEY,
      </if>
      <if test="c_PHONE != null">
        C_PHONE,
      </if>
      <if test="c_ACCTBAL != null">
        C_ACCTBAL,
      </if>
      <if test="c_MKTSEGMENT != null">
        C_MKTSEGMENT,
      </if>
      <if test="c_COMMENT != null">
        C_COMMENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="c_CUSTKEY != null">
        #{c_CUSTKEY,jdbcType=INTEGER},
      </if>
      <if test="c_NAME != null">
        #{c_NAME,jdbcType=VARCHAR},
      </if>
      <if test="c_ADDRESS != null">
        #{c_ADDRESS,jdbcType=VARCHAR},
      </if>
      <if test="c_NATIONKEY != null">
        #{c_NATIONKEY,jdbcType=INTEGER},
      </if>
      <if test="c_PHONE != null">
        #{c_PHONE,jdbcType=CHAR},
      </if>
      <if test="c_ACCTBAL != null">
        #{c_ACCTBAL,jdbcType=DOUBLE},
      </if>
      <if test="c_MKTSEGMENT != null">
        #{c_MKTSEGMENT,jdbcType=CHAR},
      </if>
      <if test="c_COMMENT != null">
        #{c_COMMENT,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="xpadro.tutorial.rest.model.mybatis.CustomerExample" resultType="java.lang.Integer">
    select count(*) from customer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update customer
    <set>
      <if test="record.c_CUSTKEY != null">
        C_CUSTKEY = #{record.c_CUSTKEY,jdbcType=INTEGER},
      </if>
      <if test="record.c_NAME != null">
        C_NAME = #{record.c_NAME,jdbcType=VARCHAR},
      </if>
      <if test="record.c_ADDRESS != null">
        C_ADDRESS = #{record.c_ADDRESS,jdbcType=VARCHAR},
      </if>
      <if test="record.c_NATIONKEY != null">
        C_NATIONKEY = #{record.c_NATIONKEY,jdbcType=INTEGER},
      </if>
      <if test="record.c_PHONE != null">
        C_PHONE = #{record.c_PHONE,jdbcType=CHAR},
      </if>
      <if test="record.c_ACCTBAL != null">
        C_ACCTBAL = #{record.c_ACCTBAL,jdbcType=DOUBLE},
      </if>
      <if test="record.c_MKTSEGMENT != null">
        C_MKTSEGMENT = #{record.c_MKTSEGMENT,jdbcType=CHAR},
      </if>
      <if test="record.c_COMMENT != null">
        C_COMMENT = #{record.c_COMMENT,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update customer
    set C_CUSTKEY = #{record.c_CUSTKEY,jdbcType=INTEGER},
      C_NAME = #{record.c_NAME,jdbcType=VARCHAR},
      C_ADDRESS = #{record.c_ADDRESS,jdbcType=VARCHAR},
      C_NATIONKEY = #{record.c_NATIONKEY,jdbcType=INTEGER},
      C_PHONE = #{record.c_PHONE,jdbcType=CHAR},
      C_ACCTBAL = #{record.c_ACCTBAL,jdbcType=DOUBLE},
      C_MKTSEGMENT = #{record.c_MKTSEGMENT,jdbcType=CHAR},
      C_COMMENT = #{record.c_COMMENT,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="xpadro.tutorial.rest.model.mybatis.Customer">
    update customer
    <set>
      <if test="c_NAME != null">
        C_NAME = #{c_NAME,jdbcType=VARCHAR},
      </if>
      <if test="c_ADDRESS != null">
        C_ADDRESS = #{c_ADDRESS,jdbcType=VARCHAR},
      </if>
      <if test="c_NATIONKEY != null">
        C_NATIONKEY = #{c_NATIONKEY,jdbcType=INTEGER},
      </if>
      <if test="c_PHONE != null">
        C_PHONE = #{c_PHONE,jdbcType=CHAR},
      </if>
      <if test="c_ACCTBAL != null">
        C_ACCTBAL = #{c_ACCTBAL,jdbcType=DOUBLE},
      </if>
      <if test="c_MKTSEGMENT != null">
        C_MKTSEGMENT = #{c_MKTSEGMENT,jdbcType=CHAR},
      </if>
      <if test="c_COMMENT != null">
        C_COMMENT = #{c_COMMENT,jdbcType=VARCHAR},
      </if>
    </set>
    where C_CUSTKEY = #{c_CUSTKEY,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xpadro.tutorial.rest.model.mybatis.Customer">
    update customer
    set C_NAME = #{c_NAME,jdbcType=VARCHAR},
      C_ADDRESS = #{c_ADDRESS,jdbcType=VARCHAR},
      C_NATIONKEY = #{c_NATIONKEY,jdbcType=INTEGER},
      C_PHONE = #{c_PHONE,jdbcType=CHAR},
      C_ACCTBAL = #{c_ACCTBAL,jdbcType=DOUBLE},
      C_MKTSEGMENT = #{c_MKTSEGMENT,jdbcType=CHAR},
      C_COMMENT = #{c_COMMENT,jdbcType=VARCHAR}
    where C_CUSTKEY = #{c_CUSTKEY,jdbcType=INTEGER}
  </update>
</mapper>