<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xpadro.tutorial.rest.repository.PartMapper" >
  <resultMap id="BaseResultMap" type="xpadro.tutorial.rest.model.mybatis.Part" >
    <id column="P_PARTKEY" property="p_PARTKEY" jdbcType="INTEGER" />
    <result column="P_NAME" property="p_NAME" jdbcType="VARCHAR" />
    <result column="P_MFGR" property="p_MFGR" jdbcType="VARCHAR" />
    <result column="P_BRAND" property="p_BRAND" jdbcType="CHAR" />
    <result column="P_TYPE" property="p_TYPE" jdbcType="VARCHAR" />
    <result column="P_SIZE" property="p_SIZE" jdbcType="INTEGER" />
    <result column="P_CONTAINER" property="p_CONTAINER" jdbcType="CHAR" />
    <result column="P_RETAILPRICE" property="p_RETAILPRICE" jdbcType="DOUBLE" />
    <result column="P_COMMENT" property="p_COMMENT" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    P_PARTKEY, P_NAME, P_MFGR, P_BRAND, P_TYPE, P_SIZE, P_CONTAINER, P_RETAILPRICE, P_COMMENT
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="xpadro.tutorial.rest.model.mybatis.PartExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from part
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from part
    where P_PARTKEY = #{p_PARTKEY,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from part
    where P_PARTKEY = #{p_PARTKEY,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="xpadro.tutorial.rest.model.mybatis.PartExample" >
    delete from part
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="xpadro.tutorial.rest.model.mybatis.Part" >
    insert into part (P_PARTKEY, P_NAME, P_MFGR, 
      P_BRAND, P_TYPE, P_SIZE, 
      P_CONTAINER, P_RETAILPRICE, P_COMMENT
      )
    values (#{p_PARTKEY,jdbcType=INTEGER}, #{p_NAME,jdbcType=VARCHAR}, #{p_MFGR,jdbcType=VARCHAR}, 
      #{p_BRAND,jdbcType=CHAR}, #{p_TYPE,jdbcType=VARCHAR}, #{p_SIZE,jdbcType=INTEGER}, 
      #{p_CONTAINER,jdbcType=CHAR}, #{p_RETAILPRICE,jdbcType=DOUBLE}, #{p_COMMENT,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="xpadro.tutorial.rest.model.mybatis.Part" >
    insert into part
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="p_PARTKEY != null" >
        P_PARTKEY,
      </if>
      <if test="p_NAME != null" >
        P_NAME,
      </if>
      <if test="p_MFGR != null" >
        P_MFGR,
      </if>
      <if test="p_BRAND != null" >
        P_BRAND,
      </if>
      <if test="p_TYPE != null" >
        P_TYPE,
      </if>
      <if test="p_SIZE != null" >
        P_SIZE,
      </if>
      <if test="p_CONTAINER != null" >
        P_CONTAINER,
      </if>
      <if test="p_RETAILPRICE != null" >
        P_RETAILPRICE,
      </if>
      <if test="p_COMMENT != null" >
        P_COMMENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="p_PARTKEY != null" >
        #{p_PARTKEY,jdbcType=INTEGER},
      </if>
      <if test="p_NAME != null" >
        #{p_NAME,jdbcType=VARCHAR},
      </if>
      <if test="p_MFGR != null" >
        #{p_MFGR,jdbcType=VARCHAR},
      </if>
      <if test="p_BRAND != null" >
        #{p_BRAND,jdbcType=CHAR},
      </if>
      <if test="p_TYPE != null" >
        #{p_TYPE,jdbcType=VARCHAR},
      </if>
      <if test="p_SIZE != null" >
        #{p_SIZE,jdbcType=INTEGER},
      </if>
      <if test="p_CONTAINER != null" >
        #{p_CONTAINER,jdbcType=CHAR},
      </if>
      <if test="p_RETAILPRICE != null" >
        #{p_RETAILPRICE,jdbcType=DOUBLE},
      </if>
      <if test="p_COMMENT != null" >
        #{p_COMMENT,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="xpadro.tutorial.rest.model.mybatis.PartExample" resultType="java.lang.Integer" >
    select count(*) from part
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update part
    <set >
      <if test="record.p_PARTKEY != null" >
        P_PARTKEY = #{record.p_PARTKEY,jdbcType=INTEGER},
      </if>
      <if test="record.p_NAME != null" >
        P_NAME = #{record.p_NAME,jdbcType=VARCHAR},
      </if>
      <if test="record.p_MFGR != null" >
        P_MFGR = #{record.p_MFGR,jdbcType=VARCHAR},
      </if>
      <if test="record.p_BRAND != null" >
        P_BRAND = #{record.p_BRAND,jdbcType=CHAR},
      </if>
      <if test="record.p_TYPE != null" >
        P_TYPE = #{record.p_TYPE,jdbcType=VARCHAR},
      </if>
      <if test="record.p_SIZE != null" >
        P_SIZE = #{record.p_SIZE,jdbcType=INTEGER},
      </if>
      <if test="record.p_CONTAINER != null" >
        P_CONTAINER = #{record.p_CONTAINER,jdbcType=CHAR},
      </if>
      <if test="record.p_RETAILPRICE != null" >
        P_RETAILPRICE = #{record.p_RETAILPRICE,jdbcType=DOUBLE},
      </if>
      <if test="record.p_COMMENT != null" >
        P_COMMENT = #{record.p_COMMENT,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update part
    set P_PARTKEY = #{record.p_PARTKEY,jdbcType=INTEGER},
      P_NAME = #{record.p_NAME,jdbcType=VARCHAR},
      P_MFGR = #{record.p_MFGR,jdbcType=VARCHAR},
      P_BRAND = #{record.p_BRAND,jdbcType=CHAR},
      P_TYPE = #{record.p_TYPE,jdbcType=VARCHAR},
      P_SIZE = #{record.p_SIZE,jdbcType=INTEGER},
      P_CONTAINER = #{record.p_CONTAINER,jdbcType=CHAR},
      P_RETAILPRICE = #{record.p_RETAILPRICE,jdbcType=DOUBLE},
      P_COMMENT = #{record.p_COMMENT,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="xpadro.tutorial.rest.model.mybatis.Part" >
    update part
    <set >
      <if test="p_NAME != null" >
        P_NAME = #{p_NAME,jdbcType=VARCHAR},
      </if>
      <if test="p_MFGR != null" >
        P_MFGR = #{p_MFGR,jdbcType=VARCHAR},
      </if>
      <if test="p_BRAND != null" >
        P_BRAND = #{p_BRAND,jdbcType=CHAR},
      </if>
      <if test="p_TYPE != null" >
        P_TYPE = #{p_TYPE,jdbcType=VARCHAR},
      </if>
      <if test="p_SIZE != null" >
        P_SIZE = #{p_SIZE,jdbcType=INTEGER},
      </if>
      <if test="p_CONTAINER != null" >
        P_CONTAINER = #{p_CONTAINER,jdbcType=CHAR},
      </if>
      <if test="p_RETAILPRICE != null" >
        P_RETAILPRICE = #{p_RETAILPRICE,jdbcType=DOUBLE},
      </if>
      <if test="p_COMMENT != null" >
        P_COMMENT = #{p_COMMENT,jdbcType=VARCHAR},
      </if>
    </set>
    where P_PARTKEY = #{p_PARTKEY,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xpadro.tutorial.rest.model.mybatis.Part" >
    update part
    set P_NAME = #{p_NAME,jdbcType=VARCHAR},
      P_MFGR = #{p_MFGR,jdbcType=VARCHAR},
      P_BRAND = #{p_BRAND,jdbcType=CHAR},
      P_TYPE = #{p_TYPE,jdbcType=VARCHAR},
      P_SIZE = #{p_SIZE,jdbcType=INTEGER},
      P_CONTAINER = #{p_CONTAINER,jdbcType=CHAR},
      P_RETAILPRICE = #{p_RETAILPRICE,jdbcType=DOUBLE},
      P_COMMENT = #{p_COMMENT,jdbcType=VARCHAR}
    where P_PARTKEY = #{p_PARTKEY,jdbcType=INTEGER}
  </update>
</mapper>