<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xpadro.tutorial.rest.repository.SupplierMapper" >
  <resultMap id="BaseResultMap" type="xpadro.tutorial.rest.model.mybatis.Supplier" >
    <id column="S_SUPPKEY" property="s_SUPPKEY" jdbcType="INTEGER" />
    <result column="S_NAME" property="s_NAME" jdbcType="CHAR" />
    <result column="S_ADDRESS" property="s_ADDRESS" jdbcType="VARCHAR" />
    <result column="S_NATIONKEY" property="s_NATIONKEY" jdbcType="INTEGER" />
    <result column="S_PHONE" property="s_PHONE" jdbcType="CHAR" />
    <result column="S_ACCTBAL" property="s_ACCTBAL" jdbcType="DOUBLE" />
    <result column="S_COMMENT" property="s_COMMENT" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    S_SUPPKEY, S_NAME, S_ADDRESS, S_NATIONKEY, S_PHONE, S_ACCTBAL, S_COMMENT
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="xpadro.tutorial.rest.model.mybatis.SupplierExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from supplier
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from supplier
    where S_SUPPKEY = #{s_SUPPKEY,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from supplier
    where S_SUPPKEY = #{s_SUPPKEY,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="xpadro.tutorial.rest.model.mybatis.SupplierExample" >
    delete from supplier
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="xpadro.tutorial.rest.model.mybatis.Supplier" >
    insert into supplier (S_SUPPKEY, S_NAME, S_ADDRESS, 
      S_NATIONKEY, S_PHONE, S_ACCTBAL, 
      S_COMMENT)
    values (#{s_SUPPKEY,jdbcType=INTEGER}, #{s_NAME,jdbcType=CHAR}, #{s_ADDRESS,jdbcType=VARCHAR}, 
      #{s_NATIONKEY,jdbcType=INTEGER}, #{s_PHONE,jdbcType=CHAR}, #{s_ACCTBAL,jdbcType=DOUBLE}, 
      #{s_COMMENT,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="xpadro.tutorial.rest.model.mybatis.Supplier" >
    insert into supplier
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="s_SUPPKEY != null" >
        S_SUPPKEY,
      </if>
      <if test="s_NAME != null" >
        S_NAME,
      </if>
      <if test="s_ADDRESS != null" >
        S_ADDRESS,
      </if>
      <if test="s_NATIONKEY != null" >
        S_NATIONKEY,
      </if>
      <if test="s_PHONE != null" >
        S_PHONE,
      </if>
      <if test="s_ACCTBAL != null" >
        S_ACCTBAL,
      </if>
      <if test="s_COMMENT != null" >
        S_COMMENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="s_SUPPKEY != null" >
        #{s_SUPPKEY,jdbcType=INTEGER},
      </if>
      <if test="s_NAME != null" >
        #{s_NAME,jdbcType=CHAR},
      </if>
      <if test="s_ADDRESS != null" >
        #{s_ADDRESS,jdbcType=VARCHAR},
      </if>
      <if test="s_NATIONKEY != null" >
        #{s_NATIONKEY,jdbcType=INTEGER},
      </if>
      <if test="s_PHONE != null" >
        #{s_PHONE,jdbcType=CHAR},
      </if>
      <if test="s_ACCTBAL != null" >
        #{s_ACCTBAL,jdbcType=DOUBLE},
      </if>
      <if test="s_COMMENT != null" >
        #{s_COMMENT,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="xpadro.tutorial.rest.model.mybatis.SupplierExample" resultType="java.lang.Integer" >
    select count(*) from supplier
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update supplier
    <set >
      <if test="record.s_SUPPKEY != null" >
        S_SUPPKEY = #{record.s_SUPPKEY,jdbcType=INTEGER},
      </if>
      <if test="record.s_NAME != null" >
        S_NAME = #{record.s_NAME,jdbcType=CHAR},
      </if>
      <if test="record.s_ADDRESS != null" >
        S_ADDRESS = #{record.s_ADDRESS,jdbcType=VARCHAR},
      </if>
      <if test="record.s_NATIONKEY != null" >
        S_NATIONKEY = #{record.s_NATIONKEY,jdbcType=INTEGER},
      </if>
      <if test="record.s_PHONE != null" >
        S_PHONE = #{record.s_PHONE,jdbcType=CHAR},
      </if>
      <if test="record.s_ACCTBAL != null" >
        S_ACCTBAL = #{record.s_ACCTBAL,jdbcType=DOUBLE},
      </if>
      <if test="record.s_COMMENT != null" >
        S_COMMENT = #{record.s_COMMENT,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update supplier
    set S_SUPPKEY = #{record.s_SUPPKEY,jdbcType=INTEGER},
      S_NAME = #{record.s_NAME,jdbcType=CHAR},
      S_ADDRESS = #{record.s_ADDRESS,jdbcType=VARCHAR},
      S_NATIONKEY = #{record.s_NATIONKEY,jdbcType=INTEGER},
      S_PHONE = #{record.s_PHONE,jdbcType=CHAR},
      S_ACCTBAL = #{record.s_ACCTBAL,jdbcType=DOUBLE},
      S_COMMENT = #{record.s_COMMENT,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="xpadro.tutorial.rest.model.mybatis.Supplier" >
    update supplier
    <set >
      <if test="s_NAME != null" >
        S_NAME = #{s_NAME,jdbcType=CHAR},
      </if>
      <if test="s_ADDRESS != null" >
        S_ADDRESS = #{s_ADDRESS,jdbcType=VARCHAR},
      </if>
      <if test="s_NATIONKEY != null" >
        S_NATIONKEY = #{s_NATIONKEY,jdbcType=INTEGER},
      </if>
      <if test="s_PHONE != null" >
        S_PHONE = #{s_PHONE,jdbcType=CHAR},
      </if>
      <if test="s_ACCTBAL != null" >
        S_ACCTBAL = #{s_ACCTBAL,jdbcType=DOUBLE},
      </if>
      <if test="s_COMMENT != null" >
        S_COMMENT = #{s_COMMENT,jdbcType=VARCHAR},
      </if>
    </set>
    where S_SUPPKEY = #{s_SUPPKEY,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xpadro.tutorial.rest.model.mybatis.Supplier" >
    update supplier
    set S_NAME = #{s_NAME,jdbcType=CHAR},
      S_ADDRESS = #{s_ADDRESS,jdbcType=VARCHAR},
      S_NATIONKEY = #{s_NATIONKEY,jdbcType=INTEGER},
      S_PHONE = #{s_PHONE,jdbcType=CHAR},
      S_ACCTBAL = #{s_ACCTBAL,jdbcType=DOUBLE},
      S_COMMENT = #{s_COMMENT,jdbcType=VARCHAR}
    where S_SUPPKEY = #{s_SUPPKEY,jdbcType=INTEGER}
  </update>
</mapper>